<div class="nod-selector">
    <div><button {{action 'increaseDigits'}}>&plus;</button></div>
    <div>{{numberOfDigits}}</div>
    <div><button {{action 'decreaseDigits'}}>&minus;</button></div>
</div>
