<div class="modal-fog">
  <div class="modal-frame">
    <div class="modal-title clearfix">
        <button class="close-modal" {{action 'closeSimpleModal'}}>&#10005;</button>
      {{title}}
    </div>
    <div class="modal-body">
      {{yield}}
    </div>
  </div>
</div>
